<div style="padding: 30px; margin-right: 77%">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h2>Create NBA player</h2></mat-card-title>
    </mat-card-header>
    <form #playerForm="ngForm" (ngSubmit)="save(playerForm.value)">
      <mat-card-content>
        <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="player.firstName"
        required name="firstName" #firstName>
        </mat-form-field>
        <p>
        <mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]="player.lastName"
        required name="lastName" #lastName>
        </mat-form-field>
        </p>
        <p>
        <mat-form-field>
        <input matInput placeholder="Phone" [(ngModel)]="player.phone"
        name="phone" #phone pattern="[0-9]}">
        </mat-form-field>
        </p>
        <p>
        <mat-form-field>
        <input matInput placeholder="Height" [(ngModel)]="player.height"
        name="height" #height  pattern="[0-9]">
        </mat-form-field>
        </p>
        <mat-select placeholder="Select team" [(ngModel)]="selectedValue" name="team">
          <mat-option *ngFor="let team of teams" [value]="team.team_id">
            {{team.full_name}}
          </mat-option>
        </mat-select>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!playerForm.form.valid" (click)="save()">Save</button>
        <a mat-button routerLink="/nba-players">Cancel</a>
      </mat-card-actions>
    </form>
  </mat-card>
</div>


