
<div style="padding: 30px">
  <button mat-raised-button color="primary" [routerLink]="['/nba-player-add']">Add Team Player</button>
</div>

<div style="padding: 30px">

  <table mat-table [dataSource]="players" class="mat-elevation-z8" style="width: 100%">

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let player"> {{player.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let player"> {{player.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef> height </th>
      <td mat-cell *matCellDef="let player"> {{player.height}} </td>
    </ng-container>

    <ng-container matColumnDef="full_name">
      <th mat-header-cell *matHeaderCellDef> Team </th>
      <td mat-cell *matCellDef="let player"> {{player.teamDto.full_name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['firstName', 'lastName', 'height', 'full_name']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['firstName', 'lastName', 'height', 'full_name']"></tr>
  </table>
</div>

