<!--The content below is only a placeholder and can be replaced.-->
  <mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/nba-teams">NBA Teams</button>
      <button mat-menu-item routerLink="/nba-players">NBA Players</button>
    </mat-menu>
  </mat-toolbar>
<router-outlet></router-outlet>
