
<div style="padding: 30px">
  <table mat-table [dataSource]="teams" class="mat-elevation-z8" style="width: 100%">

    <ng-container matColumnDef="full_name">
      <th mat-header-cell *matHeaderCellDef> Full Name </th>
      <td mat-cell *matCellDef="let team">
        <a [routerLink]="['/players', team.id]">{{team.full_name}}</a>  </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let team"> {{team.city}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let team"> {{team.state}} </td>
    </ng-container>

    <ng-container matColumnDef="division">
      <th mat-header-cell *matHeaderCellDef> Division </th>
      <td mat-cell *matCellDef="let team"> {{team.division}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['full_name', 'city', 'state', 'division']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['full_name', 'city', 'state', 'division']"></tr>
  </table>
</div>
